
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    background-image:url('andrea-caramello-oOZhEzwAmZc-unsplash.jpg');
    height: 100vh;
    background-size:cover ;
}

.container .navbar{
    width: 100%;
    background-color: rgb(167, 246, 246,0.5);
    height: auto;
}
.logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    color: #f3f3f3;
    font-family: sans-serif;
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 8px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background-color: blueviolet;
    border-radius: 10px;
}

.container .center{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
  
    color: blueviolet;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2{
    color: rgb(90, 4, 4);
    font-size: 50px;
    width: 900px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.center .buttons{
    margin:35px 280px ;
}
.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    color: rgb(234, 12, 49);
    background-color: darksalmon;
    border: solid 1px red;
    cursor: pointer;
    outline:none ;
    border-radius: 25px;
    font-weight: bold;
    transition: .5s;
}
.buttons button:hover{
    background: #fff;
}